@model SecurityTest.Rest.UserLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>User Login Page</title>
</head>
<body>
<div>
    <form>
        
    </form>  
</div>
</body>
</html>